<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clock_o_mentia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClockOMentia">
        <activity
            android:name=".Doctor.Activity.Doctor_Login"
            android:exported="false" />
        <activity
            android:name=".Patient.Activities.BookAppointment"
            android:exported="false" />
        <activity
            android:name=".Patient.Activities.ViewDoctor"
            android:exported="false" />
        <activity
            android:name=".Doctor.Activity.Doctor_Signup"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBN7-mirDtMbCn8os8sYPEF3lg_w3Rrr6k" />

        <activity
            android:name=".Patient.Activities.Patient_Login"
            android:exported="false" />
        <activity
            android:name=".Patient.Activities.Patient_Signup"
            android:exported="false" />
        <activity
            android:name=".Doctor.Activity.DoctorMainActivity"
            android:exported="false" />
        <activity
            android:name=".Doctor.Activity.DoctorProfileSetup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Patient.Activities.NearbyDoctors"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>